#webpush-topics-user-panel-wrapper {
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 999;
  background-color: rgba(255,255,255,0.95);
  background-repeat: no-repeat;
  background-position: bottom 10px left 10px;
  padding: 10px;
  min-width: 84px;
  min-height: 84px;
  border-radius: 50%;
}

#webpush-topics-user-panel-wrapper[data-webpush-state="enabled"],
#webpush-topics-user-panel-wrapper[data-webpush-state="disabled"] {
  background-image: url('../../../images/bell-black.png');
  cursor: pointer;
}

#webpush-topics-user-panel-wrapper[data-webpush-state="incompatible"],
#webpush-topics-user-panel-wrapper[data-webpush-state="userdenied"],
#webpush-topics-user-panel-wrapper[data-webpush-state="computing"],
#webpush-topics-user-panel-wrapper[data-webpush-state="unknown"] {
  background-image: url('../../../images/bell-grey.png');
  cursor: not-allowed;
}

#webpush-topics-user-panel-wrapper[data-webpush-state="incompatible"]:hover::after,
#webpush-topics-user-panel-wrapper[data-webpush-state="userdenied"]:hover::after,
#webpush-topics-user-panel-wrapper[data-webpush-state="computing"]:hover::after,
#webpush-topics-user-panel-wrapper[data-webpush-state="unknown"]:hover::after {
  content: attr(data-webpush-message);
  display: block;
  position: absolute;
  bottom: 100%;
  left: 0;
  font-size: 12px;
  line-height: 14px;
  width: 240px;
}

#webpush-topics-user-panel-wrapper:hover {
  background-color: rgba(255,255,255,0.95);
}

#webpush-topics-panel {
  display: none;
}

#webpush-topics-panel.expanded {
  display: block;
  background-color: rgba(255,255,255,0.95);
  position: fixed;
  bottom: 120px;
  right: 30px;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid grey;
}

.webpush-topics-button {
  border: 1px solid grey;
  margin-bottom: 3px;
  margin-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}
